/*Carrito*/

.caja_costos{
    width: 80%;
    @include bordes ($colordefondo,solid,$colorsecundario,5px);
    margin: 10px auto;
    font-family: $fuente;
}

.titulo_carrito {
    width: 80%;
    @include bordes ($colordefondo,solid,$colorsecundario,5px);
    margin: 10px auto; 
    font-family: $fuente;
             }
