.caja_contacto {margin: auto;
               @include bordes ($colordefondo,solid,$colorsecundario,5px);
                width: $ancho90porc;
                font-family:$fuente ;
                
                                                .formconta{ margin: auto; 
                                                            padding: 15px;                  

                                                                                   .campos_contacto {
                                                                                            margin:auto;    
                                                                                            width: 75%;
                                                                                
                                                                                
                                                                                                            textarea {width: 100%;
                                                                                                                      height: 100px; 
                                                                                                                         }
                                                                                   }
                                                        }
                }                                                        