
    
    @media screen and (max-width:768px) {
        
        body{background-color: white;}

        .caja_header{
                     .caja_portada{display: none;}
                     .caja_logo{width: 50%;}
                     .caja_derecha{width: 50%;
                                                         .caja_animacion{display: none;}               
                    }
        }
        .caja_nav {
                    ul {    
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                    list-style-type: none;
                    padding: 0;

                                li {
                                    border-style: solid;
                                    border-width:2px;
                                    border-color: rgb(255, 255, 255);
                                    display: flex;
                                    width:100%;
                                    text-align: center;
                                    justify-content: center;
                                   
                                                }
                                
                    }
                }
         
            
                form {
                    width: 40%;
                    border-color:$colorsecundario;
                    margin: auto;
                    font-family:$fuente ;
                  
                                      input{ 
                                         width: 100%;
                                         border: 2px solid $colorsecundario;
                                         border-radius: 10px;
                                         font-size: 16px;
                                         background-color: white;
                                         height: 30px;
                                         
                                         }
                 
                }    
                .contenedor_grande{
                    width: $ancho90porc;
                    display: flex;
                    background-color:white;
                    margin: auto;
                    
                                                       .cajacaba {
                                                           width: 100%;
                                                           display: flex;
                                                           background-color:white;
                                                           margin: 5px;
                    
                    
                    
                                                                                                  .imgcaba{
                                                                                                   width:100%;
                                                                                                   margin: 5px;
                                                                                                   @include bordes (white,solid,$colorsecundario,1px)
                                                                                                   }
                                                        
                                                       }
                                                       
                                                       .cajadama {
                                                           width: 100%;
                                                           display: flex;
                                                           background-color:white;
                                                           margin: 5px;
                    
                                                                                                   .imgdama{
                                                                                                    width:100%;
                                                                                                    margin: 5px;
                                                                                                    @include bordes (white,solid,$colorsecundario,1px)
                                                                                                       }
                                                       }
                    }
         
            .Caja_productos{
                margin: auto;
                padding: auto;
                width: $ancho90porc;
                display:grid;
                grid-template-columns: 100%;
            
                                           .producto1{
                                               grid-column: 1/2;
                                               width: 80%;
                                               margin: 10px auto;
                                               background-color: white;
                                              }     
                                           .producto2{
                                               grid-column: 1/2;
                                               width: 80%;
                                               margin: 10px auto;
                                               background-color: white;
                                              }     
                                              .producto3{
                                               grid-column: 1/2;
                                               width: 80%;
                                               margin: 10px auto;
                                               background-color: white;
                                              
                                              }     
                                           .producto4{
                                               grid-column: 1/2;
                                               width: 80%;
                                               margin: 10px auto;
                                               background-color: white;
                                               
                                              }     
                                              .producto5{
                                               grid-column: 1/2;
                                               width: 80%;
                                               margin: 10px auto;
                                               background-color: white;
                                              }     
                                           .producto6{
                                               grid-column: 1/2;
                                               background-color: white;
                                               width: 80%;
                                               margin: 10px auto;
                                               background-color: white;
                                              }  
                                              
                                            .textoprod {
                                                width: 100%;
                                                font-size: small;
                                                color: $colorsecundario;
                                                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                            }
                                        }            



            .contenedor_logosredes{
                width: $ancho90porc;
                display: grid;
                grid-template-columns:20% 80% ;
                grid-template-rows:auto auto auto ;
                background-color: $colorsecundario;
                margin: auto;
                height:auto;
                text-align: left;
                font-size:xx-large;

                                            .foottext {
                                                color: white;
                                                font-size: 22px;
                                                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
                                                position: relative; top:25% ;    
                                            }    
                }
               
                .separacion{
                    background-image: linear-gradient(to left,$colorsecundario,rgb(140, 169, 236));
                    border-style: solid;
                    border-width: 3px;
                    border-color: white;
                    background-color: $colorsecundario;
                    height:30px;
                    width: $ancho90porc;
                    margin:10px auto;
                    }
                
                .separacion2{
                    background-image: linear-gradient(to right,$colorsecundario,rgb(140, 169, 236));
                    border-style: solid;
                    border-width: 3px;
                    border-color: white;
                    background-color:$colorsecundario;
                    height:30px;
                    width: $ancho90porc;
                    margin: auto;
                    }   
                
                .caja_contacto {margin: auto;
                    border-style: solid;
                    border-width: 10px;
                    width: $ancho90porc;
                    border-color: $colorsecundario;
                                                    .formconta{ width: 100%;  
                                                                margin: auto;                  
    
                                                                                       .campos_contacto {
                                                                                                    margin: auto;
                                                                                                    width: 100%;
                                                                                    
                                                                                    
                                                                                                                textarea {width: 100%;
                                                                                                                          height: 100px; 
                                                                                                                             }
                                                                                       }
                                                            }
                    }                                                        
        
        
    }
