/*PAGINA DE INICIO*/




.contenedor_grande{
width: $ancho90porc;
display: flex;
justify-content:center;
background-color:$colordefondo;
margin: auto;

                                   .cajacaba {
                                       width: 100%;
                                       display: flex;
                                       background-color:$colordefondo;
                                       margin: 5px;



                                                                              .imgcaba{
                                                                               width:100%;
                                                                               margin: 5px;
                                                                               @include bordes ($colordefondo,solid,$colorsecundario,1px)
                                                                               }
                                    
                                   }
                                   
                                   .cajadama {
                                       width: 100%;
                                       display: flex;
                                       background-color: $colordefondo;
                                       margin: 5px;

                                                                               .imgdama{
                                                                                width:100%;
                                                                                margin: 5px;
                                                                                @include bordes ($colordefondo,solid,$colorsecundario,1px)
                                                                                   }
                                   }
}




