/*Caja productos*/
.Caja_productos{
    margin: auto;
    padding: auto;
    width: $ancho90porc;
    display:grid;
    grid-template-columns: 50% 50%;

                               

                               .producto1{
                                   padding: 30px;
                                   grid-column: 1/2;
                                   width: 80%;
                                   @include bordes ($colordefondo,solid,$colorsecundario,5px);
                                   margin: 10px auto;
                                   
                                         }

                               .producto2{
                                
                                   padding: 30px;
                                   grid-column: 2/3;
                                   width: 80%;
                                   @include bordes ($colordefondo,solid,$colorsecundario,5px);
                                   margin: 10px auto;
                                   
                                  }

                                  .producto3{

                                   padding: 30px;
                                   grid-column: 1/2;
                                   width: 80%;
                                   @include bordes ($colordefondo,solid,$colorsecundario,5px);
                                   margin: 10px auto;
                                                                     
                                  }

                               .producto4{
                                
                                   padding: 30px;
                                   grid-column: 2/3;
                                   width: 80%;
                                   @include bordes ($colordefondo,solid,$colorsecundario,5px);
                                   margin: 10px auto;
                                                                      
                                  }

                                  .producto5
                                  {
                                   padding: 30px;
                                   grid-column: 1/2;
                                   width: 80%;
                                   @include bordes ($colordefondo,solid,$colorsecundario,5px);
                                   margin: 10px auto;
                                   
                                  }    

                               .producto6{
                                
                                   padding: 30px;
                                   grid-column: 2/3;
                                   width: 80%;
                                   @include bordes ($colordefondo,solid,$colorsecundario,5px);
                                   margin: 10px auto;
                                   
                                  }  
                                  
                                .textoprod {
                                    width: 100%;
                                    text-align: center;
                                    font-size: medium;
                                    color: $colorsecundario;
                                    font-family: $fuente;
                                }
                
}